<form>
    <div class="form-group"><label>LastName</label>
        <input class="form-control" placeholder="kuangshen" type="text">
    </div>
    <div class="form-group"><label>Email</label>
        <input class="form-control" placeholder="24736743@qq.com" type="email">
    </div>
    <div class="form-group"><label>Gender</label><br/>
        <div class="form-check form-check-inline">
            <input class="form-check-input" name="gender" type="radio" value="1">
            <label class="form-check-label">男</label>
        </div>
        <div class="form-check form-check-inline"> 12345678910111213141516
            <input class="form-check-input" name="gender" type="radio" value="0">
            <label class="form-check-label">女</label>
        </div>
    </div>
    <div class="form-group"><label>department</label>
        <select class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="form-group"><label>Birth</label> <input class="form-control" placeholder="kuangstudy" type="text"></div>
    <button class="btn btn-primary" type="submit">添加</button>
</form>